<p id="notice"><%= notice %></p>

<h1>トピック一覧</h1>

<% @topics.each do |topic| %>
  <p>投稿者：<%= topic.user.name %><p>
  <p>タイトル：<%= topic.title %></p>
  <p>本文：<%= topic.content %></p>
  <%= link_to "トピックを編集する", edit_topic_path(topic.id) %>
  <%= link_to "トピックを削除する", topic_path(topic.id), data: {confirm: '本当に削除していいですか？'}, method: :delete %>
<% end %>

<%= link_to "トピックを作成する", new_topic_path %>
